#footer {
    background-color: #000;
    color: rgba(255, 255, 255, 0.55);
    height: 3rem;
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    position: relative;
    top: 1rem;
}